
html, body, #root {
  height: 100%;
}

body {
  font-family: century gothic,Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(135deg, #c802ff, #031cff);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100%;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 12px 18px;
  color: var(--text-color);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
}

/* Glassmorphism card */
.glass {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.101);
  backdrop-filter: blur(100px) saturate(120%);
  -webkit-backdrop-filter: blur(10px) saturate(120%);
  border: 1px solid rgba(255, 255, 255, 0.503);
  
}

.content {
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  gap: 10px;
}

form input, form textarea {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.53);
  font-family: century gothic;
  background-color: rgba(255, 255, 255, 0.168);
  border-radius:10px;
  
}
form input::placeholder,form textarea::placeholder{
  color:rgba(255, 255, 255, 0.719);
}
